@model Foodweb.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa ?</h3>
<div>
    
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
