@model Foodweb.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-3">  </div>

    <div class="col-md-6">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Thay đổi thông tin tài khoản</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">Số điện thoại</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Mật khẩu</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label">Tên người dùng</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="RoleId">Loại tài khoản</label>

                    <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId">
                        <option value="" disabled selected>Chọn loại tài khoản</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Active" class="control-label">Trạng thái</label>
                    <input asp-for="Active" class="form-control" />
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>

                <div class="card-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="Index">Back</a>

                </div>
            </form>
        </div>


    </div>
</div>

